.wrapper{background:#ffffff;width:100%;margin-top:-23px;}
.left{float:left;}
.right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.clear{clear:both;}
/*购物车*/
.wrapper .title{width:100%;background:#ec6023;text-align: center;}
.wrapper .title h1{color:#ffffff;font-size:24px;letter-spacing:2px;line-height:40px;height:40px;padding-top:20px;padding-bottom:20px;}
.title .edit{position:absolute;top:25px;right:8px;}
.title .edit img{width:60%;padding-top:3px;cursor:pointer;}
.title h1 a{display: block;position:absolute;top:22px;right:15%;color:#fff;font-size:16px;}
.shop_content{margin-bottom: 60px;background:#fff;margin-top:20px;}
.shop_content .shop_title{padding-top:15px;padding-bottom:10px;margin-left:5%;}
.shop_content img{width:100%;}
.shop_content .shop_title ul li{float:left;padding-left:5%;letter-spacing:1px;font-size:16px;}
.shop_title ul #check_all{display: none;}
.shop_title ul li .selected_all{display: none;}
.shop_title .s_xc{color:#ec6023;line-height: 35px;padding-left:10px !important;}
.shop_title a{color:#ec6023;}
.shop_title a:hover{color:#ec6023;}
.shop_title .s_all{width:22px;padding-top:6px;padding-left:0 !important;}
.shop_title .s_all span{background:url('../img/shop/select.png') no-repeat;display: block;width:27px;padding-left:0 !important;
height:27px;overflow:hidden;background-size:27px;}
.shop_title .s_ioc{width:30px;padding-top:5px;}
.shop_title .edit{float:right !important;padding-right:21px;padding-top:7px;color:#000;}
.shop_title .edit a{color:#888;}
.shop_title .edit a:hover{color:#888;}
.car_list{margin-top:5px;}
.car_list .list .list_sel{margin-top: 10%;background:url('../img/shop/select.png')no-repeat;
background-size:27px;width:27px;height:27px;overflow:hidden;}
.list .pro_img{width:29%;max-width:205px;min-width:90px;padding-left: 4%;padding-top:10px;}
.list .cont{padding-left:4%;width:60%;padding-top:10px;}
.cont ul li{color:#888;padding-top:3%;}
.cont .pro_title{color:#333;font-size:18px;padding-top:0 !important;}
.cont .pro_des{line-height:24px;height:48px;font-size:15px;padding-top:2% !important;}
.cont .price .pri_num{color:#ec6023;font-size:17px;}
.cont .price{border-bottom: 1px solid #dfe0e2;}
.footer{position:fixed;bottom:0;left:0;background:#fff;width:100%;max-width:1280px;}
.footer .total{margin-left:5%;letter-spacing:2px;}
.footer .total span{margin-top:7px;display: block;width:27px;height:27px;overflow:hidden;background:url('../img/shop/select.png') no-repeat;background-size:27px;}
.footer .total ul li{font-size:10px;float:left;line-height:40px;height:40px;}
.total .sec_all{font-size:17px !important;color:#000;padding-left:5%;cursor:pointer;}
.total .heji{font-size:17px !important;padding-left:5%;}
.total .heji leael{font-size:17px;letter-spacing: 1px;color:#ec6023;}
.total .jiesuan{float:right !important;padding-right:21px;font-size:17px !important;cursor:pointer;}

/*确认订单*/
.wrapper .js{width:100%;background:#fff;text-align: center;border-bottom:1px solid #dfe0e2; }
.wrapper .js h1{color:#777;font-size:21px;letter-spacing:2px;line-height:40px;height:40px;padding-top:10px;padding-bottom:10px;}
.js .js_x_left{position:absolute;width:20px;height:38px;background:url('../img/shop/x_left_black.png') no-repeat;top:17px;background-size:20px;left:5%;}
.js h1 .search_ico{position:absolute;top:19px;right:20px;cursor:pointer;height:30px;
	background:url('../img/shop/order_search.png')no-repeat;background-size:28px;width:30px;}
.js .search{display:none;position:absolute;top:10px;height:100%;left:0;width:90%;margin-left:4%;border-radius: 2px;}
.js .search input{width:100%;height:40px;line-height:40px;padding-left:10px;font-size:15px;}
.search span{display:block;height:30px;width:30px;cursor:pointer;background:url('../img/shop/order_search.png')no-repeat;background-size:28px;position:absolute;top:7px;right:8px;letter-spacing: 3px;font-size:15px;}
.pleft0{padding-left:0 !important;}
.b0{border-bottom: none !important;}
.b0 .right ul li{float:left;}
.b0 .right .bor{background:#ec6023;padding:0px 10px;color:white;}
.b0 .right .num{margin:0 6px;}
.dd_list{background:#f7f7f7;}
.bg0{background:#efefef !important;margin-bottom: 60px;}
.shopbox .cate{background:#fff;}
.shopbox .cate ul li{float:left;width:33%;text-align: center;line-height:35px;height:35px;font-size:15px;}
.current{color:#ec6023;}
.list .pro_xinxi{width:100%;background:#fff;}
.list .pro_xinxi .total{text-align:right;padding-top:5px;font-size:14px;width:92%;margin-left:auto;margin-right:auto;}
.pro_xinxi .tool{margin-top:10px;padding-bottom:12px;width:92%;margin-left:auto;margin-right:auto;}
.pro_xinxi .tool ul li{float:left;padding-top:3px;padding-bottom: 3px;font-size:16px;}
.pro_xinxi .tool .status{color:#ec6023;}
.tool .rest{float:right !important;padding-left:10px;padding-right:10px;
border:1px solid #dfe0e2;}
.tool .rest a{color:#ec6023;}
.tool .tuikuan{margin-left:40%;padding-left:10px;padding-right:10px;
border:1px solid #dfe0e2;}
.tool .tuikuan a{color:#888;}
.tool .tuikuan a:hover{color:#888;}
.tool .rest a:hover{color:#ec6023;}
.list{border-bottom:1px solid #dfe0e2;}
.footer .total .go{float:right;padding-right:21px;font-size:18px;color:#fff;background:#ec6023;height:40px;line-height: 40px;padding-left:21px;}
.wating_price{display: none;}
.wating_use{display: none;}
.order_all{display:block;}
.order_num1{width:92%;line-height:50px;height:40px;color:#444;margin-left:auto;margin-right:auto;/*border-bottom: 1px solid #cfcfcf;*/}