/*#footer{ background:none; border-top:#E2E2E2 1px solid;}*/
em{ font-style:normal;}

/*搜索结果*/
.searchpage{ padding:20px 3.5%;}
.searchtit{ line-height:40px; margin-bottom:20px; font:normal 22px/40px "微软雅黑";}
.searchtit strong{ color:#A40000;}


/*新闻列表*/
.newspage{ padding:20px 3.5%;}
.newsclass{ margin-bottom:15px;height:40px; border:1px solid #A40000; background:#fff;border-radius:10px;}
.newsclass li{ float:left; width:33.3%; height:40px; position:relative; text-align:center; font:normal 16px/40px "微软雅黑";}
.newsclass li.first{border-radius:10px 0 0 10px;}
.newsclass li.last{ width:33.4%;border-radius:0 10px 10px 0 ;}
.newsclass li a{ position:absolute; left:0; top:0; display:block; width:100%; height:40px; color:#B90008; border-right:1px solid #A40000;}
.newsclass li a.hover{color:#fff; background:#B70005;}
.newsclass li.last a{ border:0;}
.newsclass li.first a.hover{border-radius:10px 0 0 10px;}
.newsclass li.last a.hover{border-radius:0 10px 10px 0 ;}


.newslist{ margin-bottom:10px; background:#fff; position:relative;}
.newslist .aimg{ width:100%;}
.newslist .txt{ padding:0 4%;}
.newslist  h3{ color:#8D8D8D; font:normal 14px/20px "微软雅黑"; padding:7px 0; margin-bottom:3px;}
.newslist  h1{ font:normal 18px/20px "微软雅黑"; margin-bottom:15px;}
.newslist .newshare{ padding-left:4% ;}
.newslist .tshar{ float:left; display:block; width:50%;}
.newslist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.newslist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.newslist .cname a{ color:#fff; width:100%; height:40px; display:block;}
.newslist .tshar span{ display:inline-block;padding-left:20px; height:20px; line-height:20px; margin-top:3px; font: normal 14px/20px Verdana; color:#A0A0A0; margin-right:5px;margin-bottom:5px;cursor:pointer; background-size:contain;background-repeat:no-repeat;
background-size:18px 20px;-moz-background-size:18px 20px;-moz-background-size:18px 20px;-o-background-size:18px 20px;}
.newslist .tshar span.zan{ background-image:url(../images/ico_share_op_zan.jpg); }
.newslist .tshar span.hover{ color:#A40000}
.newslist .tshar span.zan.hover{ background-image:url(../images/ico_share_op_zan_hover.jpg); }
.newslist .tshar span.read{ background-image:url(../images/ico_share_op_u.jpg); }
.newslist .tshar span.read.hover{ background-image:url(../images/ico_share_op_u_hover.jpg); }
.newslist .tshar span.share{ background-image:url(../images/ico_share_op_share.jpg);}
.newslist .tshar span.share.hover{ background-image:url(../images/ico_share_op_share_hover.jpg);}

/*新闻详细*/
.articlebox{ background:#fff; padding:20px 0; margin-bottom:20px;}
.artitlce_title{ padding:0 4%; margin-bottom:20px;}
.artitlce_title h1{ font:normal 20px/30px "微软雅黑"; margin-bottom:10px;}
.artitlce_time{ height:28px; line-height:28px; font-size:14px; color:#8e8e8e;}
.artitlce_time span{ float:left; display:inline-block; height:28px; border-right:1px solid #E3E3E3; padding-right:20px; margin-right:20px;}
.artitlce_title .shareop{ float:left; border:0;}
.artitlce_title .shareop a{ float:left; display:block; width:22px; height:20px;margin-right:10px; background-size:100% 100%; background-repeat:no-repeat;}
.artitlce_title .shareop a.good{ background-image:url(../images/ico_good.png);}
.artitlce_title .shareop a.good:hover,.artitlce_title .shareop a.good.hover{ background-image:url(../images/ico_good_hover.png);}
.artitlce_title .shareop a.share{background-image:url(../images/ico_share.png); margin-right:0;}
.artitlce_title .shareop a.share:hover{ background-image:url(../images/ico_share_hover.png);}
.article_photo{ width:100%; position:relative;}
.article_photo img{ width:100%;}
.article_photo .article_class{ position: absolute; right:0; bottom:4px;height:40px; overflow:hidden;color:#fff;font:normal 14px/40px "微软雅黑"; text-align:center;}
.article_photo .article_class em{ float:left;display:inline-block; padding:0 10px;height:40px; overflow:hidden; color:#fff;/* background:#BE0000;*/}
.article_photo .article_class em a{ color:#fff;}
.article_content{ padding:20px 4%;font:normal 16px/25px "微软雅黑"; overflow:hidden;}
.article_content img{ max-width:100%;}
.article_content strong{ font-weight:bold;}
.article_content em{ font-style:italic;}

/*猜你喜欢*/

.guesstit{ padding:0 3.5%; height:35px; font:normal 16px/35px "微软雅黑"; color:#b60005; border-bottom:#E3E3E3 1px solid; margin-bottom:10px;}
.guess_yourlove{padding:0 3.5%;}
.guess_yourlove img{ width:100%}
.guess_yourlove li{ float:left; width:33.3%; text-align:center;}
.guess_yourlove li img{ width:90%;border-radius:6px;}
.guess_yourlove li p{ width:90%; height:20px; line-height:20px; font-size:14px; text-align:center; overflow:hidden;}

/*项目列表*/
.projectspage{ padding:20px 3.5%;}
.project_item{ padding:0 3.2%; margin-bottom:25px; position:relative;}
.projectborder { border-top:1px solid #B8B8B8;padding-top:25px; }
.project_item a{ display:block;width:100%; height:100px; position:relative;}
.project_item .itemimg{ position:absolute; left:0; top:0; width:100px; height:100px;border-radius: 50%;}
.project_item .txt{ padding:20px 20px 5px 120px;height:80px; font:normal 16px/22px "微软雅黑";}
.project_item .txt h1{ height:26px; font:normal 20px/26px "微软雅黑"; color:#E62250; overflow:hidden; margin-bottom:5px;}
.project_item .txt h1 a{ color:#E62250;}
.project_item .txt p{ display:block; height:44px; overflow:hidden; color:#000}
.project_item .ic_ri {border-right: 3px solid #7f7f7f;border-bottom: 3px solid #7f7f7f;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);width:10px;height: 10px;position: absolute;right:15px;top: 50%;margin-top: -10px;}

.now_class{ height:45px; font:normal 22px/45px "微软雅黑"; margin-bottom:15px;}

.projectslist{ margin-bottom:10px; background:#fff; position:relative;}
.projectslist .aimg{ width:100%;}
.projectslist .txt{ padding:0 4%;}

.projectslist  h3{ color:#8D8D8D;font:normal 14px/20px "微软雅黑"; padding:7px 0; margin-bottom:3px;}
.projectslist  h1{ font:normal 18px/20px "微软雅黑"; margin-bottom:15px;}
.projectslist .newshare{ padding-left:4% ;}
.projectslist .tshar{ float:left; display:block; width:50%;}
.projectslist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.projectslist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.projectslist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.projectslist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.projectslist .cname em.tg{padding:0 15px;/* background:#80C26A; */}
.projectslist .cname a{ color:#fff; width:100%; height:40px; display:block;}
.projectslist .tshar span{ display:inline-block; padding-left:20px; height:20px; line-height:20px; margin-top:3px; font: normal 14px/20px Verdana; color:#A0A0A0; margin-right:5px;margin-bottom:5px;cursor:pointer; background-size:contain;background-repeat:no-repeat;
background-size:18px 20px;-moz-background-size:18px 20px;-moz-background-size:18px 20px;-o-background-size:18px 20px;}
.projectslist .tshar span.zan{ background-image:url(../images/ico_share_op_zan.jpg); }
.projectslist .tshar span.hover{ color:#A40000}
.projectslist .tshar span.zan.hover{ background-image:url(../images/ico_share_op_zan_hover.jpg); }
.projectslist .tshar span.read{ background-image:url(../images/ico_share_op_u.jpg); }
.projectslist .tshar span.read.hover{ background-image:url(../images/ico_share_op_u_hover.jpg); }
.projectslist .tshar span.share{ background-image:url(../images/ico_share_op_share.jpg);}
.projectslist .tshar span.share.hover{ background-image:url(../images/ico_share_op_share_hover.jpg);}

/*优惠折扣tab*/

.yhzkclass{ margin-bottom:15px;height:40px; border:1px solid #A40000; background:#fff;border-radius:10px;}
.yhzkclass li{ float:left; width:50%; height:40px; position:relative; text-align:center; font:normal 16px/40px "微软雅黑";}
.yhzkclass li.first{border-radius:10px 0 0 10px;}
.yhzkclass li.last{ width:50%;border-radius:0 10px 10px 0 ;}
.yhzkclass li a{ position:absolute; left:0; top:0; display:block; width:100%; height:40px; color:#B90008; border-right:1px solid #A40000;}
.yhzkclass li a.hover{color:#fff; background:#B70005;}
.yhzkclass li.last a{ border:0;}
.yhzkclass li.first a.hover{border-radius:10px 0 0 10px;}
.yhzkclass li.last a.hover{border-radius:0 10px 10px 0 ;}

/*项目详细*/
.projectshow_box{margin-bottom:20px;}

.projectshow_box strong{ font-weight:bold;}
.projectshow_box em{ font-style:italic;}

.projectsad{ width:100%;position:relative; min-height:40px; overflow:hidden; line-height:0; font-size:0;}
.projectsad img{ width:100%; margin:0; padding:0;}
.projectsad .cname{ position: absolute; right:0; bottom:0;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.projectsad .cname em{ float:left;display:inline-block; padding:0 10px;height:40px; overflow:hidden; color:#fff;/* background:#BE0000;*/}
.projectsad .cname em a{ color:#fff;}
.projects_basic{padding:15px 3.5%; background:#fff; margin-bottom:15px;border-bottom:#E3E3E3 1px solid; }
.projects_basic_tit{ margin-bottom:15px; position:relative;}
.projects_basic_tit .tith{ float:left; width:71%; padding:10px 64px 10px 0; font:normal 18px/20px "微软雅黑";}
.projects_basic_tit .shareop{ position:absolute; right:10px; top:0; padding:10px; width:54px; height:20px;border-left:#E3E3E3 1px solid;}
.projects_basic_tit .shareop a{ float:left; display:block; width:22px; height:20px; margin-right:10px; margin-bottom:5px; background-size:contain;background-repeat:no-repeat;
background-size:22px 20px;-moz-background-size:22px 20px;-moz-background-size:22px 20px;-o-background-size:22px 20px;}
.projects_basic_tit .shareop a.good{ background-image:url(../images/ico_good.png);}
.projects_basic_tit .shareop a.good:hover,.projects_basic_tit .shareop a.good.hover{ background-image:url(../images/ico_good_hover.png);}
.projects_basic_tit .shareop a.share{ background-image:url(../images/ico_share.png); margin-right:0;}
.projects_basic_tit .shareop a.share:hover{ background-image:url(../images/ico_share_hover.png);}
.projects_basic_con{font:normal 16px/25px "微软雅黑";color:#515151}

.projects_showmain{ border-top:#E3E3E3 1px solid;border-bottom:#E3E3E3 1px solid; padding:5px 0 10px 0; background:#fff; margin-bottom:10px;font:normal 16px/30px "微软雅黑"; color:#515151;}
.projects_showmain .showtit{ padding:0 3.5%; height:40px; font:normal 16px/35px "微软雅黑"; color:#b60005; border-bottom:#E3E3E3 1px solid; margin-bottom:15px;}
.projects_showmain .showtit  span{ float:right;}
.projects_showmain .showtit span a.more{ display:inline-block; padding:0 15px; height:25px; line-height:25px;border-radius:10px; background:#80C26A;  font-size:14px; color:#fff;}

.project_show_pl{ margin-right:135px;}
.project_show_pr{ position:absolute; width:110px; top:5px; right:15px;}
.project_show_price{ position:relative;line-height:45px; color:#d30000; padding:0 3.5%; padding-bottom:5px; border-bottom:1px solid #E3E3E3;}
.project_show_price .price{ float:left;font: normal 30px/45px "微软雅黑";}
.project_show_price em{ float:left; font-size:18px;}
.project_show_price del{ float:left; font-size:18px; color:#B8B8B8; margin-left:10px;}
.project_buy_btn{width:90%; display:block; height:35px; margin:0 auto;border-radius:10px; color:#fff; border:0; text-align:center; font:normal 16px/35px "微软雅黑"}

.project_show_time{ padding:0 3.5%; line-height:35px; min-height:45px; font-size:16px; margin-top:10px; position:relative;}
.project_show_time .project_show_pl{border-right:1px solid #E3E3e3; color:#000; font:normal 14px/35px "微软雅黑"; padding:10px 0;}
.project_show_time .project_show_pr{ color:#66ab56; font:normal 14px/35px "微软雅黑";padding:10px 0;}
.project_show_time .project_show_pr li{ padding-left:22px;}
.project_show_time .project_show_pr li.yes{ background:url(../images/yes.png) left 8px no-repeat;}
.project_show_time .project_show_pr li.salen{ background:url(../images/u.png) left 8px no-repeat;}

.project_show_pr.notuan{ width:240px; padding:0;}
.project_show_pr.notuan li{ float:left; width:88px;}
.project_show_pr.notuan  li.salen{ float:right; margin-left:15px;}

.projects_gaishu{padding:0 3.5%;}
.projects_gaishu li{ padding-left:50px; position:relative; font:normal 16px/25px "微软雅黑"; min-height:25px;color:#515151; margin-bottom:5px;}
.projects_gaishu li .dt{ position:absolute; left:0; top:0; display:block; width:50px; height:25px; color:#000; text-align:left;}
.projects_gaishu li a{ color:#b60005; text-decoration:underline; margin-right:10px;}

.projects_tese{padding:0 3.5%;font:normal 16px/25px "微软雅黑";}
.projects_tese img{ max-width:100%;}


.projects_zysx{padding:0 3.5%;}
.projects_zysx li{ padding-left:50px; position:relative; font:normal 16px/25px "微软雅黑"; min-height:25px;color:#515151; margin-bottom:10px;}
.projects_zysx li .dt{ position:absolute; left:0; top:0; display:block; width:50px; height:25px; color:#A40000; text-align:center;}
.projects_zysx li a{ color:#b60005; text-decoration:underline; margin-right:10px;}

.project_cases,.project_voide{padding:0 3.5%;}
/*更多热门项目*/
.divmoreitem{ display:none; position:fixed; left:0; bottom:0; z-index:99; width:100%; padding:20px; background:url(../images/transparent_write.png) repeat;}
.divmoreitem .itemmoer{ padding:0 3.5%; font:normal 14px/26px "微软雅黑";}
.divmoreitem .itemmoer h3{ border-bottom:1px solid #000; margin-bottom:10px; font-size:16px;}
.divmoreitem .itemmoer a{ margin-right:15px;}

/*专题*/
.topicspage{ padding:20px 3.5%;}
.topicsclass{ margin-bottom:15px;height:40px; border:1px solid #A40000; background:#fff;border-radius:10px;}
.topicsclass li{ float:left; width:25%; height:40px; position:relative; text-align:center;font:normal 16px/40px "微软雅黑";}
.topicsclass li.first{border-radius:10px 0 0 10px;}
.topicsclass li.last{border-radius:0 10px 10px 0 ;}
.topicsclass li a{ position:absolute; left:0; top:0; display:block; width:100%; height:40px; color:#B90008; border-right:1px solid #A40000;}
.topicsclass li a.hover{color:#fff; background:#B70005;}
.topicsclass li.last a{ border:0;}
.topicsclass li.first a.hover{border-radius:10px 0 0 10px;}
.topicsclass li.last a.hover{border-radius:0 10px 10px 0 ;}

/*专家*/
.expertspage{ padding:20px 3.5%;}
.expertsclass{ margin-bottom:15px;height:40px; border:1px solid #A40000; background:#fff;border-radius:10px;}
.expertsclass li{ float:left; width:33.3%; height:40px; position:relative; text-align:center; font:normal 16px/40px "微软雅黑";}
.expertsclass li.first{border-radius:10px 0 0 10px;}
.expertsclass li.last{ width:33.4%;border-radius:0 10px 10px 0 ;}
.expertsclass li a{ position:absolute; left:0; top:0; display:block; width:100%; height:40px; color:#B90008; border-right:1px solid #A40000;}
.expertsclass li a.hover{color:#fff; background:#B70005;}
.expertsclass li.last a{ border:0;}
.expertsclass li.first a.hover{border-radius:10px 0 0 10px;}
.expertsclass li.last a.hover{border-radius:0 10px 10px 0 ;}

.expertslist{ margin-bottom:10px; background:#fff; position:relative;}
.expertslist .expertsimg{ width:100%; position:relative;}
.expertslist .aimg{ width:100%;}
.expertslist .expertsimg .trasp{ position:absolute; left:0; bottom:0; width:100%; background:url(../images/transparent_write.png) repeat; text-align:right; font:normal 14px/20px "微软雅黑"; color:#333;}
.expertslist .expertsimg .trasp p{ display:block; padding:10px 4%;}
.expertslist .txt{ padding:0 4%;}

.expertslist  h3{ color:#8D8D8D; font:normal 14px/20px "微软雅黑"; padding:7px 0; margin-bottom:3px;}
.expertslist  h1{ font:normal 18px/20px "微软雅黑"; margin-bottom:15px;}
.expertslist .expertsshare{ padding-left:4% ;}
.expertslist .tshar{ float:left; display:block; width:50%;}
.expertslist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.expertslist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.expertslist .cname em.tg{padding:0 15px;/* background:#80C26A; */}
.expertslist .cname a{ color:#fff; width:100%; height:40px; display:block;}
.expertslist .tshar span{ display:inline-block; padding-left:20px; height:20px; line-height:20px; margin-top:3px; font: normal 14px/20px Verdana; color:#A0A0A0; margin-right:5px;margin-bottom:5px;cursor:pointer; background-size:contain;background-repeat:no-repeat;
background-size:18px 20px;-moz-background-size:18px 20px;-moz-background-size:18px 20px;-o-background-size:18px 20px;}
.expertslist .tshar span.zan{ background-image:url(../images/ico_share_op_zan.jpg); }
.expertslist .tshar span.hover{ color:#A40000}
.expertslist .tshar span.zan.hover{ background-image:url(../images/ico_share_op_zan_hover.jpg); }
.expertslist .tshar span.read{ background-image:url(../images/ico_share_op_u.jpg); }
.expertslist .tshar span.read.hover{ background-image:url(../images/ico_share_op_u_hover.jpg); }
.expertslist .tshar span.share{ background-image:url(../images/ico_share_op_share.jpg);}
.expertslist .tshar span.share.hover{ background-image:url(../images/ico_share_op_share_hover.jpg);}

/*专家详细*/
.experts_box{margin-bottom:20px;}

.experts_box strong{ font-weight:bold;}
.experts_box em{ font-style:italic;}

.expertsphoto{ width:100%;position:relative; overflow:hidden; font-size:0; line-height:0;}
.expertsphoto img{ width:100%; margin:0; padding:0;}
.expertsphoto  .trasp{ z-index:1;position:absolute; left:0; bottom:0; width:100%; background:url(../images/transparent_write.png) repeat; text-align:left; font:normal 14px/20px "微软雅黑"; color:#333;}
.expertsphoto .trasp p{ display:block; padding:10px 4%;}

.expertsphoto .cname{ z-index:2; position: absolute; right:0; bottom:0;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.expertsphoto .cname em{ float:left;display:inline-block; padding:0 10px;height:40px; overflow:hidden; color:#fff; font-style:normal;/* background:#BE0000;*/}
.expertsphoto .cname em a{ color:#fff;}
.experts_basic{padding:15px 0; background:#fff; margin-bottom:15px;border-bottom:#E3E3E3 1px solid; }
.experts_basic_tit{ padding:0 3.5% 10px; margin-bottom:15px; border-bottom:1px solid #E3E3E3; position:relative;}
.experts_basic_tit .tith{/* float:left; width:71%; */padding:10px 64px 10px 0; min-height:20px; overflow:hidden; font:normal 16px/20px "微软雅黑"; }
.experts_basic_tit .tith strong{ font-size:22px; margin-right:10px;}
.experts_basic_tit .shareop{ position:absolute; right:10px; top:0; padding:10px; width:54px; height:20px;border-left:#E3E3E3 1px solid;}
.experts_basic_tit .shareop a{ float:left; display:block; width:22px; height:20px; margin-right:10px; margin-bottom:5px; background-size:contain;background-repeat:no-repeat;
background-size:22px 20px;-moz-background-size:22px 20px;-moz-background-size:22px 20px;-o-background-size:22px 20px;}
.experts_basic_tit .shareop a.good{ background-image:url(../images/ico_good.png);}
.experts_basic_tit .shareop a.good:hover,.experts_basic_tit .shareop a.good.hover{ background-image:url(../images/ico_good_hover.png);}
.experts_basic_tit .shareop a.share{ background-image:url(../images/ico_share.png); margin-right:0;}
.experts_basic_tit .shareop a.share:hover{ background-image:url(../images/ico_share_hover.png);}
.experts_basic_con{ padding:0 3.5%; font:normal 16px/25px "微软雅黑"; color:#515151}
.experts_basic_con li{ padding-left:12px; background:url(../images/ico_cred.jpg) left 11px no-repeat;}


.experts_showmain{ border-top:#E3E3E3 1px solid;border-bottom:#E3E3E3 1px solid; padding:15px 0; background:#fff; margin-bottom:15px;font:normal 16px/25px "微软雅黑"; color:#515151;}
.experts_showmain .showtit{ padding:0 3.5%; height:40px; font:normal 16px/35px "微软雅黑"; color:#b60005; border-bottom:#E3E3E3 1px solid; margin-bottom:15px;}
.experts_showmain .showtit  span{ float:right;}
.experts_showmain .showtit span a.more{ display:inline-block; padding:0 15px; height:30px; line-height:30px;border-radius:10px; background:#80C26A;  font-size:14px; color:#fff;}
.experts_showcon{ padding:0 3.5%;font:normal 16px/25px "微软雅黑";}
.experts_showcon img{ max-width:100%;}
.experts_jl{ color:#000;}

/*品牌*/
.brandpage{ padding:20px 3.5%;}
.brandlist{ margin-bottom:10px; background:#fff; position:relative;}
.brandlist .aimg{ width:100%;}
.brandlist .txt{ padding:0 4%;}

.brandlist  h3{ color:#8D8D8D;font:normal 14px/20px "微软雅黑"; padding:7px 0; margin-bottom:3px;}
.brandlist  h1{ font:normal 18px/20px "微软雅黑"; margin-bottom:15px;}
.brandlist .opshare{ padding-left:4% ;}
.brandlist .tshar{ float:left; display:block; width:50%;}
.brandlist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.brandlist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.brandlist .cname em.tg{padding:0 15px;/* background:#80C26A; */}
.brandlist .cname a{ color:#fff; width:100%; height:40px; display:block;}
.brandlist .tshar span{ display:inline-block; padding-left:20px; height:20px; line-height:20px; margin-top:3px; font: normal 14px/20px Verdana; color:#A0A0A0; margin-right:5px; margin-bottom:5px;cursor:pointer; background-size:contain;background-repeat:no-repeat;
background-size:18px 20px;-moz-background-size:18px 20px;-moz-background-size:18px 20px;-o-background-size:18px 20px;}
.brandlist .tshar span.zan{ background-image:url(../images/ico_share_op_zan.jpg); }
.brandlist .tshar span.hover{ color:#A40000}
.brandlist .tshar span.zan.hover{ background-image:url(../images/ico_share_op_zan_hover.jpg); }
.brandlist .tshar span.read{ background-image:url(../images/ico_share_op_u.jpg); }
.brandlist .tshar span.read.hover{ background-image:url(../images/ico_share_op_u_hover.jpg); }
.brandlist .tshar span.share{ background-image:url(../images/ico_share_op_share.jpg);}
.brandlist .tshar span.share.hover{ background-image:url(../images/ico_share_op_share_hover.jpg);}


/*真人秀*/
.realitypage{ padding:20px 3.5%;}
.realityAd{ margin-bottom:10px;}
.realityAd img{ width:100%;}
.realitylist{ margin-bottom:10px; background:#fff; position:relative;}
.realitylist .aimg{ width:100%;}
.realitylist .txt{ padding:0 4%;}

.realitylist  h3{ color:#8D8D8D;font:normal 14px/20px "微软雅黑"; padding:7px 0; margin-bottom:3px;}
.realitylist  h1{ font:normal 18px/20px "微软雅黑"; margin-bottom:15px;}
.realitylist .opshare{ padding-left:4% ;}
.realitylist .tshar{ float:left; display:block; width:50%;}
.realitylist .cname{ float:right;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.realitylist .cname em{ float:left; display:inline-block; padding:0 10px; height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.realitylist .cname em.tg{padding:0 15px;/* background:#80C26A; */}
.realitylist .cname a{ color:#fff; width:100%; height:40px; display:block;}
.realitylist .tshar span{ display:inline-block; padding-left:20px; height:20px; line-height:20px; margin-top:3px; font: normal 14px/20px Verdana; color:#A0A0A0; margin-right:5px;margin-bottom:5px;cursor:pointer; background-size:contain;background-repeat:no-repeat;
background-size:18px 20px;-moz-background-size:18px 20px;-moz-background-size:18px 20px;-o-background-size:18px 20px;}
.realitylist .tshar span.zan{ background-image:url(../images/ico_share_op_zan.jpg); }
.realitylist .tshar span.hover{ color:#A40000}
.realitylist .tshar span.zan.hover{ background-image:url(../images/ico_share_op_zan_hover.jpg); }
.realitylist .tshar span.read{ background-image:url(../images/ico_share_op_u.jpg); }
.realitylist .tshar span.read.hover{ background-image:url(../images/ico_share_op_u_hover.jpg); }
.realitylist .tshar span.share{ background-image:url(../images/ico_share_op_share.jpg);}
.realitylist .tshar span.share.hover{ background-image:url(../images/ico_share_op_share_hover.jpg);}

/*真人秀详细*/
.reality_box{margin-bottom:20px;}
.reality_box strong{ font-weight:bold;}
.reality_box em{ font-style:italic;}

.reality_photo{ width:100%;position:relative; overflow:hidden; font-size:0; line-height:0;}
.reality_photo img{ width:100%; margin:0; padding:0;}
.reality_photo .cname{ position: absolute; right:0; bottom:0;height:40px; overflow:hidden;color:#fff; font:normal 14px/40px "微软雅黑"; text-align:center;}
.reality_photo .cname em{ float:left;display:inline-block; padding:0 10px;height:40px; overflow:hidden; color:#fff;/* background:#BE0000;*/}
.reality_photo .cname em a{ color:#fff;}
.reality_basic{padding:15px 0; background:#fff; margin-bottom:15px;border-bottom:#E3E3E3 1px solid; }
.reality_basic_tit{ padding:0 3.5% 10px; margin-bottom:15px; border-bottom:1px solid #E3E3E3; position:relative;}
.reality_basic_tit .tith{ float:left; width:71%; padding:10px 64px 10px 0; font:normal 18px/20px "微软雅黑";}
.reality_basic_tit .tith strong{ font-size:22px; margin-right:10px;}
.reality_basic_tit .shareop{ position:absolute; right:10px; top:0; padding:10px; width:54px; height:20px;border-left:#E3E3E3 1px solid;}
.reality_basic_tit .shareop a{ float:left; display:block;  width:22px; height:20px;margin-right:10px; margin-bottom:5px; background-size:contain;background-repeat:no-repeat;
background-size:22px 20px;-moz-background-size:22px 20px;-moz-background-size:22px 20px;-o-background-size:22px 20px;}
.reality_basic_tit .shareop a.good{ background-image:url(../images/ico_good.png);}
.reality_basic_tit .shareop a.good:hover,.reality_basic_tit .shareop a.good.hover{ background-image:url(../images/ico_good_hover.png);}
.reality_basic_tit .shareop a.share{ background-image:url(../images/ico_share.png); margin-right:0;}
.reality_basic_tit .shareop a.share:hover{ background-image:url(../images/ico_share_hover.png);}
.reality_basic_con{ padding:0 3.5%;font:normal 16px/25px "微软雅黑";}
.reality_basic_con li{ padding-left:80px; position:relative;}
.reality_basic_con li strong{ display:block; position:absolute; left:0; top:0; width:80px; height:30px;}
.reality_basic_con li a{ color:#D30000; margin-right:10px;}


.reality_showmain{ border-top:#E3E3E3 1px solid;border-bottom:#E3E3E3 1px solid; padding:15px 0; background:#fff; margin-bottom:15px;font:normal 14px/25px "微软雅黑"; color:#51`5151;}
.reality_showmain .showtit{ padding:0 3.5%; height:40px; font:normal 16px/35px "微软雅黑"; color:#b60005; border-bottom:#E3E3E3 1px solid; margin-bottom:15px;}
.reality_showmain .showtit  span{ float:right;}
.reality_showmain .showtit span a.more{ display:inline-block; padding:0 15px; height:30px; line-height:30px;border-radius:10px; background:#80C26A;  font-size:14px; color:#fff;}
.reality_showcon{ padding:0 3.5%;font:normal 16px/25px "微软雅黑";}
.reality_showcon img{ max-width:100%;}

/*案例*/
.casespage{ padding:20px 2%;}
.infinite_scroll{ position:relative; width:100%;}
.caseslist li{ float:left; width:300px; margin-bottom:15px; background:#fff;border-radius:5px}
.caseslist li img{ width:100%;border-radius:5px 5px 0 0;}
.caseslist li .txt{ display:block; border:1px solid #EAEAEA;border-top:0;border-bottom:3px solid #EAEAEA; padding:10px 0; font:normal 16px/30px "微软雅黑"; overflow:hidden;border-radius:0 0 5px 5px;}
.caseslist li .txt p{ padding:0 10px;}
.caseslist li .txt a{ margin:0 5px;}

.caseclass{ display:none; position:absolute; right:0; top:0; width:28.3%; background:#323232; z-index:99;}
.caseclass li{ height:60px; width:100%; overflow:hidden; font:normal 16px/60px "微软雅黑"; border-top:1px solid #fff; color:#fff; text-align:center;}
.caseclass li a{ color:#fff;}
.caseclass li.all{ border:0;}

.caseshow_page{ padding:20px 3.5%; /*background:#000;*/}
.caseshow_box{ width:100%; margin-bottom:20px; text-align:center;}
.caseshow_box img{ max-width:100%;}
.caseshow_tit{ padding:15px 0; text-align:center;/*color:#fff;*/font:normal 18px/30px "微软雅黑";}
.caseshow_tit a{ /*color:#fff;*/ margin:0 5px;}
.caseshow_tit a:hover,.caseshow_tit a.hover{ color:#Dc0000;}

/*来院地图*/
.mapbox{ padding:20px 0;}
.maplist{ margin-bottom:5px;}
.maptit{ height:35px; font:normal 16px/35px "微软雅黑"; text-align:center; color:#f3c769; background:#1b1b1b; cursor:pointer;}
.mapcontent{ padding:20px 1.7%; font:normal 14px/25px "微软雅黑"; display:none;}
.mapcontent img{ max-width:100%;}