*{padding:0;margin:0;}
.main{width:100%;margin-left:auto;margin-right:auto;margin-top:-23px;}
.main img{width:100%;}
.main .index{position:relative;}
.index1 .wz{width:61%;position:absolute;top:11%;left:1%;}
.index1 .bt2017{width:44%;position:absolute;bottom:5%;left:28%;}
.index2 .i2_title{position:absolute;width:80%;top:3.5%;left:10%;}
.index2 .wz{position:absolute;right:2%;top:26%;width:56.8%;}
.index2 .wz ul li{width:100%;}
.index3 .title{position:absolute;width:80%;top:1%;left:10%;}
.index3 .wz{width:100%;position:absolute;top:16%;}
.index3 .wz ul li{width:30%;float:left;padding-left:3.5%;padding-top:2%;}
.index4{font-size:0;}
.index4 .wz{position:absolute;top:6%;left:31%;width:36%;}
.index4 .i4_wz1{position:absolute;top:44%;left:0%;width:50.5%;}
.index4 .i4_wz2{position:absolute;bottom:6%;left:10%;width:78%;}
.index5 .db{position:absolute;top:0;width:100%;}
.index5 .more{position:absolute;top:40%;left:28%;width:43.5%;}
#footer{margin-top:-23px;}
.animation1{
animation:mymove 1s linear 0s infinite;
-webkit-animation:mymove 1s  linear 0s infinite  ; /*Safari and Chrome*/
-ms-animation:mymove 1s  linear 0s infinite  ;
-moz-animation:mymove 1s  linear 0s infinite  ;
}
@keyframes mymove
{
25% {transform: translatex(-2px);}
0%,50%, 100% {transform: translatex(0);}
75% {transform: translatex(2px);}
}
@-moz-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}
@-ms-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}
@-webkit-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}
