*{padding:0;margin:0;}
.main{width:100%;margin-left:auto;margin-right:auto;margin-top:-23px;}
.main img{width:100%;}
.main .index{position:relative;}
#footer{margin-top:-19px !important;}
.sub{background:url('xvbg.png') repeat-y;display: block; background-size:100%;text-align:center;padding-top:20px;padding-bottom: 20px;}
.sub span{color:#f80d1e;font-size:26px;font-weight:600;letter-spacing: 2px;display: block;}
.sub form{display: block;text-align:center;}
.sub form input{width:70%;padding:5px 10px;margin-top:10px;line-height:24px;font-size:17px;}
.sub .sbt{width:45%;cursor:pointer;background:#f80d1e;color:white;line-height:40px;text-align: center;margin-left: auto;margin-right:auto;border-radius:5px;margin-top:20px;font-size:17px;}
.animation1{
animation:mymove 1s linear 0s infinite;
-webkit-animation:mymove 1s  linear 0s infinite  ; /*Safari and Chrome*/
-ms-animation:mymove 1s  linear 0s infinite  ;
-moz-animation:mymove 1s  linear 0s infinite  ;
}
@keyframes mymove
{
25% {transform: translatex(-2px);}
0%,50%, 100% {transform: translatex(0);}
75% {transform: translatex(2px);}
}
@-moz-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}
@-ms-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}
@-webkit-keyframes mymove
{
 25% {transform: translatex(-2px);}
 0%, 50%, 100% {transform: translatex(0);}
 75% {transform: translatex(2px);}
}