
.slideDown, .slideUp {
	visibility: visible!important
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}
 @-webkit-keyframes swing {
 20% {
 -webkit-transform: rotate3d(0, 0, 1, 15deg);
 transform: rotate3d(0, 0, 1, 15deg)
}
 40% {
 -webkit-transform: rotate3d(0, 0, 1, -10deg);
 transform: rotate3d(0, 0, 1, -10deg)
}
 60% {
 -webkit-transform: rotate3d(0, 0, 1, 5deg);
 transform: rotate3d(0, 0, 1, 5deg)
}
 80% {
 -webkit-transform: rotate3d(0, 0, 1, -5deg);
 transform: rotate3d(0, 0, 1, -5deg)
}
to {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg)
}
}
 @keyframes swing {
 20% {
 -webkit-transform: rotate3d(0, 0, 1, 15deg);
 transform: rotate3d(0, 0, 1, 15deg)
}
 40% {
 -webkit-transform: rotate3d(0, 0, 1, -10deg);
 transform: rotate3d(0, 0, 1, -10deg)
}
 60% {
 -webkit-transform: rotate3d(0, 0, 1, 5deg);
 transform: rotate3d(0, 0, 1, 5deg)
}
 80% {
 -webkit-transform: rotate3d(0, 0, 1, -5deg);
 transform: rotate3d(0, 0, 1, -5deg)
}
to {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg)
}
}
.swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}
 @-webkit-keyframes tada {
 from,  to {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 10%,  20% {
 -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
 transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
}
 30%,  50%,  70%,  90% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
}
 40%,  60%,  80% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
}
}
 @keyframes tada {
 from,  to {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 10%,  20% {
 -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
 transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
}
 30%,  50%,  70%,  90% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
}
 40%,  60%,  80% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
}
}
.tada {
	-webkit-animation-name: tada;
	animation-name: tada
}
 @-webkit-keyframes beat {
 0%,  100%,  33.2%,  66.4% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 16.6%,  49.8%,  83% {
 -webkit-transform: scale3d(1.08, 1.08, 1.08);
 transform: scale3d(1.08, 1.08, 1.08)
}
}
 @keyframes beat {
 0%,  100%,  33.2%,  66.4% {
 -webkit-transform: scale3d(1, 1, 1);
 -ms-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 16.6%,  49.8%,  83% {
 -webkit-transform: scale3d(1.08, 1.08, 1.08);
 -ms-transform: scale3d(1.08, 1.08, 1.08);
 transform: scale3d(1.08, 1.08, 1.08)
}
}
.beat {
	-webkit-animation-name: beat;
	animation-name: beat
}
 @-webkit-keyframes rubberBand {
 0%,  100% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 30% {
 -webkit-transform: scale3d(1.25, .75, 1);
 transform: scale3d(1.25, .75, 1)
}
 40% {
 -webkit-transform: scale3d(.75, 1.25, 1);
 transform: scale3d(.75, 1.25, 1)
}
 50% {
 -webkit-transform: scale3d(1.15, .85, 1);
 transform: scale3d(1.15, .85, 1)
}
 65% {
 -webkit-transform: scale3d(.95, 1.05, 1);
 transform: scale3d(.95, 1.05, 1)
}
 75% {
 -webkit-transform: scale3d(1.05, .95, 1);
 transform: scale3d(1.05, .95, 1)
}
}
 @keyframes rubberBand {
 0%,  100% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
 30% {
 -webkit-transform: scale3d(1.25, .75, 1);
 transform: scale3d(1.25, .75, 1)
}
 40% {
 -webkit-transform: scale3d(.75, 1.25, 1);
 transform: scale3d(.75, 1.25, 1)
}
 50% {
 -webkit-transform: scale3d(1.15, .85, 1);
 transform: scale3d(1.15, .85, 1)
}
 65% {
 -webkit-transform: scale3d(.95, 1.05, 1);
 transform: scale3d(.95, 1.05, 1)
}
 75% {
 -webkit-transform: scale3d(1.05, .95, 1);
 transform: scale3d(1.05, .95, 1)
}
}
 @-webkit-keyframes bounce {
 0%,  100%,  20%,  53%,  80% {
 -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 40%,  43% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -30px, 0);
 transform: translate3d(0, -30px, 0)
}
 70% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -15px, 0);
 transform: translate3d(0, -15px, 0)
}
 90% {
 -webkit-transform: translate3d(0, -4px, 0);
 transform: translate3d(0, -4px, 0)
}
}
 @keyframes bounce {
 0%,  100%,  20%,  53%,  80% {
 -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 40%,  43% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -30px, 0);
 transform: translate3d(0, -30px, 0)
}
 70% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -15px, 0);
 transform: translate3d(0, -15px, 0)
}
 90% {
 -webkit-transform: translate3d(0, -4px, 0);
 transform: translate3d(0, -4px, 0)
}
}
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}
 @-webkit-keyframes bounceIn {
 0%,  100%,  20%,  40%,  60%,  80% {
 -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
 transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3)
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1)
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9)
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03)
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97)
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
}
 @keyframes bounceIn {
 0%,  100%,  20%,  40%,  60%,  80% {
 -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
 transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3)
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1)
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9)
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03)
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97)
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1)
}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
.bounceOut, .flipOutX {
	-webkit-animation-duration: .75s
}
 @-webkit-keyframes bounceOut {
 20% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9)
}
 50%,  55% {
 opacity: 1;
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1)
}
 100% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3)
}
}
 @keyframes bounceOut {
 20% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9)
}
 50%,  55% {
 opacity: 1;
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1)
}
 100% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3)
}
}
.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
	animation-duration: .75s
}
 @-webkit-keyframes fadeOut {
 0% {
 opacity: 1
}
 100% {
 opacity: 0;
 -webkit-transform: translateZ(0)
}
}
 @keyframes fadeOut {
 0% {
 opacity: 1
}
 100% {
 opacity: 0;
 transform: translateZ(0)
}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}
 @-webkit-keyframes fadeOutDown {
 0% {
 opacity: 1
}
 100% {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0)
}
}
 @keyframes fadeOutDown {
 0% {
 opacity: 1
}
 100% {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0)
}
}
.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown
}
.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}
 @-webkit-keyframes flipInX {
 0% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in;
 opacity: 0
}
 40% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in
}
 60% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
 opacity: 1
}
 80% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
}
 @keyframes flipInX {
 0% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in;
 opacity: 0
}
 40% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in
}
 60% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
 opacity: 1
}
 80% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
}
.flipInX {
	-webkit-backface-visibility: visible!important;
	backface-visibility: visible!important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}
.flipInY, .flipOutX {
	-webkit-backface-visibility: visible!important
}
 @-webkit-keyframes flipInY {
 0% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in;
 opacity: 0
}
 40% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in
}
 60% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
 opacity: 1
}
 80% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
}
 @keyframes flipInY {
 0% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in;
 opacity: 0
}
 40% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in
}
 60% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
 opacity: 1
}
 80% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
}
.flipInY {
	backface-visibility: visible!important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY
}
 @-webkit-keyframes flipOutX {
 0% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
 30% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 opacity: 1
}
 100% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 opacity: 0
}
}
 @keyframes flipOutX {
 0% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
 30% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 opacity: 1
}
 100% {
 -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 opacity: 0
}
}
.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	animation-duration: .75s;
	backface-visibility: visible!important
}
 @-webkit-keyframes flipOutY {
 0% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
 30% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
 opacity: 1
}
 100% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 opacity: 0
}
}
 @keyframes flipOutY {
 0% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px)
}
 30% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
 opacity: 1
}
 100% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 opacity: 0
}
}
.flipOutY {
	-webkit-backface-visibility: visible!important;
	backface-visibility: visible!important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
 @-webkit-keyframes lightSpeedIn {
 0% {
 -webkit-transform: translate(100%, 0) translateZ(0) skewX(-30deg);
 opacity: 0
}
 60% {
 -webkit-transform: skewX(20deg);
 opacity: 1
}
 80% {
 -webkit-transform: skewX(-5deg)
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes lightSpeedIn {
 0% {
 transform: translate(100%, 0) translateZ(0) skewX(-30deg);
 opacity: 0
}
 60% {
 transform: skewX(20deg);
 opacity: 1
}
 80% {
 transform: skewX(-5deg)
}
 100% {
 transform: translateZ(0)
}
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
 @-webkit-keyframes rotateIn {
 0% {
 -webkit-transform: rotate(200deg);
 opacity: 0
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes rotateIn {
 0% {
 transform: rotate(200deg);
 opacity: 0
}
 100% {
 transform: translateZ(0)
}
}
.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
	-webkit-transform-origin: center;
	transform-origin: center
}
 @-webkit-keyframes rotateInAnti {
 0% {
 -webkit-transform: rotate(-200deg);
 opacity: 0
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes rotateInAnti {
 0% {
 transform: rotate(-200deg);
 opacity: 0
}
 100% {
 transform: translateZ(0)
}
}
.rotateInAnti {
	-webkit-animation-name: rotateInAnti;
	animation-name: rotateInAnti;
	-webkit-transform-origin: center;
	transform-origin: center
}
 @-webkit-keyframes rotate {
 0% {
 -webkit-transform: rotate(0)
}
 100% {
 -webkit-transform: rotate(360deg)
}
}
 @keyframes rotate {
 0% {
 transform: rotate(0)
}
 100% {
 transform: rotate(360deg)
}
}
.rotate {
	-webkit-animation-name: rotate;
	animation-name: rotate
}
 @-webkit-keyframes rotateAnti {
 0% {
 -webkit-transform: rotate(0)
}
 100% {
 -webkit-transform: rotate(-360deg)
}
}
 @keyframes rotateAnti {
 0% {
 transform: rotate(0)
}
 100% {
 transform: rotate(-360deg)
}
}
.rotateAnti {
	-webkit-animation-name: rotateAnti;
	animation-name: rotateAnti
}
 @-webkit-keyframes rotateLinear {
 0% {
 -webkit-transform: rotate(0)
}
 100% {
 -webkit-transform: rotate(360deg)
}
}
 @keyframes rotateLinear {
 0% {
 transform: rotate(0)
}
 100% {
 transform: rotate(360deg)
}
}
.rotateLinear {
	-webkit-animation-name: rotateLinear;
	animation-name: rotateLinear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear
}
 @-webkit-keyframes rotateInDownLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate3d(0, 0, 1, -45deg);
 opacity: 0
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: translateZ(0)
}
}
 @keyframes rotateInDownLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate3d(0, 0, 1, -45deg);
 opacity: 0
}
 100% {
 transform-origin: left bottom;
 transform: translateZ(0)
}
}
.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft
}
 @-webkit-keyframes rotateInDownRight {
 0% {
 -webkit-transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes rotateInDownRight {
 0% {
 transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0
}
 100% {
 transform: translateZ(0)
}
}
.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom
}
 @-webkit-keyframes rotateOut {
 0% {
 -webkit-transform-origin: center;
 opacity: 1
}
 100% {
 -webkit-transform-origin: center;
 -webkit-transform: rotate3d(0, 0, 1, 250deg);
 opacity: 0
}
}
 @keyframes rotateOut {
 0% {
 transform-origin: center;
 opacity: 1
}
 100% {
 transform-origin: center;
 transform: rotate3d(0, 0, 1, 250deg);
 opacity: 0
}
}
.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut
}
 @-webkit-keyframes rotateOutUpLeft {
 0% {
 -webkit-transform-origin: left bottom;
 transform-origin: left bottom;
 opacity: 1
}
 100% {
 -webkit-transform-origin: left bottom;
 transform-origin: left bottom;
 -webkit-transform: rotate3d(0, 0, 1, -45deg);
 transform: rotate3d(0, 0, 1, -45deg);
 opacity: 0
}
}
 @keyframes rotateOutUpLeft {
 0% {
 -webkit-transform-origin: left bottom;
 transform-origin: left bottom;
 opacity: 1
}
 100% {
 -webkit-transform-origin: left bottom;
 transform-origin: left bottom;
 -webkit-transform: rotate3d(0, 0, 1, -45deg);
 transform: rotate3d(0, 0, 1, -45deg);
 opacity: 0
}
}
.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft
}
 @-webkit-keyframes rotateOutUpRight {
 0% {
 -webkit-transform-origin: right bottom;
 transform-origin: right bottom;
 opacity: 1
}
 100% {
 -webkit-transform-origin: right bottom;
 transform-origin: right bottom;
 -webkit-transform: rotate3d(0, 0, 1, 45deg);
 transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0
}
}
 @keyframes rotateOutUpRight {
 0% {
 -webkit-transform-origin: right bottom;
 transform-origin: right bottom;
 opacity: 1
}
 100% {
 -webkit-transform-origin: right bottom;
 transform-origin: right bottom;
 -webkit-transform: rotate3d(0, 0, 1, 45deg);
 transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0
}
}
.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight
}
 @-webkit-keyframes rotateOutShrink {
 0% {
 -webkit-transform-origin: center;
 opacity: 1
}
 100% {
 -webkit-transform-origin: center;
 -webkit-transform: rotate3d(0, 0, 1, 250deg) scale(.1);
 opacity: 0
}
}
 @keyframes rotateOutShrink {
 0% {
 transform-origin: center;
 opacity: 1
}
 100% {
 transform-origin: center;
 transform: rotate3d(0, 0, 1, 250deg) scale(.1);
 opacity: 0
}
}
.rotateOutShrink {
	-webkit-animation-name: rotateOutShrink;
	animation-name: rotateOutShrink
}
 @-webkit-keyframes zoomIn {
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3)
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes zoomIn {
 0% {
 opacity: 0;
 transform: scale3d(.3, .3, .3)
}
 50% {
 opacity: 1
}
 100% {
 transform: translateZ(0)
}
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}
 @-webkit-keyframes zoomInDown {
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
 -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19)
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
 -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1)
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes zoomInDown {
 0% {
 opacity: 0;
 transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
 animation-timing-function: cubic-bezier(.55, .055, .675, .19)
}
 60% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
 animation-timing-function: cubic-bezier(.175, .885, .32, 1)
}
 100% {
 transform: translateZ(0)
}
}
.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown
}
 @-webkit-keyframes zoomOut {
 0% {
 opacity: 1
}
 50% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3)
}
 100% {
 opacity: 0;
 -webkit-transform: translateZ(0)
}
}
 @keyframes zoomOut {
 0% {
 opacity: 1
}
 50% {
 opacity: 0;
 transform: scale3d(.3, .3, .3)
}
 100% {
 opacity: 0;
 transform: translateZ(0)
}
}
.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut
}
 @-webkit-keyframes zoomOutEnlarge {
 0% {
 opacity: 1
}
 50% {
 opacity: 0;
 -webkit-transform: scale3d(1.3, 1.3, 1.3)
}
 100% {
 opacity: 0;
 -webkit-transform: translateZ(0)
}
}
 @keyframes zoomOutEnlarge {
 0% {
 opacity: 1
}
 50% {
 opacity: 0;
 transform: scale3d(1.3, 1.3, 1.3)
}
 100% {
 opacity: 0;
 transform: translateZ(0)
}
}
.zoomOutEnlarge {
	-webkit-animation-name: zoomOutEnlarge;
	animation-name: zoomOutEnlarge
}
.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease
}
.slideLeft, .slideUp {
	animation-duration: 1s
}
.moveDown, .slideUp {
	animation-timing-function: ease
}
 @keyframes slideDown {
 0% {
 transform: translate3d(0, -100%, 0);
 opacity: 0
}
 50% {
 transform: translate3d(0, 8%, 0);
 opacity: 1
}
 65% {
 transform: translate3d(0, -4%, 0)
}
 80% {
 transform: translate3d(0, 4%, 0)
}
 95% {
 transform: translate3d(0, -2%, 0)
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes slideDown {
 0% {
 -webkit-transform: translate3d(0, -100%, 0);
 opacity: 0
}
 50% {
 -webkit-transform: translate3d(0, 8%, 0);
 opacity: 1
}
 65% {
 -webkit-transform: translate3d(0, -4%, 0)
}
 80% {
 -webkit-transform: translate3d(0, 4%, 0)
}
 95% {
 -webkit-transform: translate3d(0, -2%, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease
}
.slideLeft, .slideRight {
	animation-timing-function: ease-in-out
}
 @keyframes slideUp {
 0% {
 transform: translate3d(0, 100%, 0);
 opacity: 0
}
 50% {
 transform: translate3d(0, -8%, 0);
 opacity: 1
}
 65% {
 transform: translate3d(0, 4%, 0)
}
 80% {
 transform: translate3d(0, -4%, 0)
}
 95% {
 transform: translate3d(0, 2%, 0)
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes slideUp {
 0% {
 -webkit-transform: translate3d(0, 100%, 0);
 opacity: 0
}
 50% {
 -webkit-transform: translate3d(0, -8%, 0);
 opacity: 1
}
 65% {
 -webkit-transform: translate3d(0, 4%, 0)
}
 80% {
 -webkit-transform: translate3d(0, -4%, 0)
}
 95% {
 -webkit-transform: translate3d(0, 2%, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.slideLeft {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible!important
}
.moveDown, .slideRight {
	animation-duration: 1s;
	visibility: visible!important
}
 @keyframes slideLeft {
 0% {
 transform: translate3d(150%, 0, 0);
 opacity: 0
}
 50% {
 transform: translate3d(-8%, 0, 0);
 opacity: 1
}
 65% {
 transform: translate3d(4%, 0, 0)
}
 80% {
 transform: translate3d(-4%, 0, 0)
}
 95% {
 transform: translate3d(2%, 0, 0)
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes slideLeft {
 0% {
 -webkit-transform: translate3d(150%, 0, 0);
 opacity: 0
}
 50% {
 -webkit-transform: translate3d(-8%, 0, 0);
 opacity: 1
}
 65% {
 -webkit-transform: translate3d(4%, 0, 0)
}
 80% {
 -webkit-transform: translate3d(-4%, 0, 0)
}
 95% {
 -webkit-transform: translate3d(2%, 0, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.slideRight {
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out
}
.fadeIn, .moveLeft {
	animation-timing-function: ease-in-out
}
 @keyframes slideRight {
 0% {
 transform: translate3d(-150%, 0, 0);
 opacity: 0
}
 50% {
 transform: translate3d(8%, 0, 0);
 opacity: 1
}
 65% {
 transform: translate3d(-4%, 0, 0)
}
 80% {
 transform: translate3d(4%, 0, 0)
}
 95% {
 transform: translate3d(-2%, 0, 0)
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes slideRight {
 0% {
 -webkit-transform: translate3d(-150%, 0, 0);
 opacity: 0
}
 50% {
 -webkit-transform: translate3d(8%, 0, 0);
 opacity: 1
}
 65% {
 -webkit-transform: translate3d(-4%, 0, 0)
}
 80% {
 -webkit-transform: translate3d(4%, 0, 0)
}
 95% {
 -webkit-transform: translate3d(-2%, 0, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible!important
}
.expandOpen, .pullUp {
	animation-timing-function: ease-out
}
 @keyframes fadeIn {
 0% {
 transform: scale(0);
 opacity: 0
}
 60% {
 transform: scale(1.1)
}
 80% {
 transform: scale(.9)
}
 100% {
 transform: scale(1)
}
}
 @-webkit-keyframes fadeIn {
 0% {
 -webkit-transform: scale(0);
 opacity: 0
}
 60% {
 -webkit-transform: scale(1.1)
}
 80% {
 -webkit-transform: scale(.9)
}
 100% {
 -webkit-transform: scale(1)
}
}
.expandOpen {
	animation-name: expandOpen;
	-webkit-animation-name: expandOpen;
	animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: ease-out;
	visibility: visible!important
}
.pulse, .stretchLeft {
	animation-duration: 1.5s
}
 @keyframes expandOpen {
 0% {
 opacity: 0;
 transform: scale(1.8) translateZ(0)
}
 50% {
 opacity: 1;
 transform: scale(.95) translateZ(0)
}
 80% {
 transform: scale(1.05) translateZ(0)
}
 90% {
 transform: scale(.98) translateZ(0)
}
 100% {
 transform: scale(1) translateZ(0)
}
}
 @-webkit-keyframes expandOpen {
 0% {
 opacity: 0;
 -webkit-transform: scale(1.8) translateZ(0)
}
 50% {
 opacity: 1;
 -webkit-transform: scale(.95) translateZ(0)
}
 80% {
 -webkit-transform: scale(1.05) translateZ(0)
}
 90% {
 -webkit-transform: scale(.98) translateZ(0)
}
 100% {
 -webkit-transform: scale(1) translateZ(0)
}
}
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.5s
}
 @keyframes pulse {
 50% {
 opacity: .3
}
 100% {
 transform: translateZ(0)
}
}
 @-webkit-keyframes pulse {
 50% {
 opacity: .3
}
 100% {
 -webkit-transform: translateZ(0)
}
}
.pulseScale {
	-webkit-animation-name: pulseScale;
	animation-name: pulseScale
}
 @-webkit-keyframes pulseScale {
 50% {
 -webkit-transform: scale3d(1.3, 1.3, 1.3);
 transform: scale3d(1.3, 1.3, 1.3)
}
 100% {
 -webkit-transform: translateZ(0)
}
}
 @keyframes pulseScale {
 50% {
 -webkit-transform: scale3d(1.3, 1.3, 1.3);
 transform: scale3d(1.3, 1.3, 1.3)
}
 100% {
 transform: translateZ(0)
}
}
.pullUp {
	animation-name: pullUp;
	-webkit-animation-name: pullUp;
	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%
}
.pullDown, .stretchLeft {
	animation-timing-function: ease-out
}
 @keyframes pullUp {
 0% {
 transform: scaleY(0)
}
 40% {
 transform: scaleY(1.02)
}
 60% {
 transform: scaleY(.98)
}
 80% {
 transform: scaleY(1.01)
}
 100% {
 transform: scaleY(1) translateZ(0)
}
}
 @-webkit-keyframes pullUp {
 0% {
 -webkit-transform: scaleY(0)
}
 40% {
 -webkit-transform: scaleY(1.02)
}
 60% {
 -webkit-transform: scaleY(.98)
}
 80% {
 -webkit-transform: scaleY(1.01)
}
 100% {
 -webkit-transform: scaleY(1) translateZ(0)
}
}
.pullDown {
	animation-name: pullDown;
	-webkit-animation-name: pullDown;
	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0
}
 @keyframes pullDown {
 0% {
 transform: scaleY(0)
}
 40% {
 transform: scaleY(1.02)
}
 60% {
 transform: scaleY(.98)
}
 80% {
 transform: scaleY(1.01)
}
 100% {
 transform: scaleY(1) translateZ(0)
}
}
 @-webkit-keyframes pullDown {
 0% {
 -webkit-transform: scaleY(0)
}
 40% {
 -webkit-transform: scaleY(1.02)
}
 60% {
 -webkit-transform: scaleY(.98)
}
 80% {
 -webkit-transform: scaleY(1.01)
}
 100% {
 -webkit-transform: scaleY(1) translateZ(0)
}
}
.stretchLeft {
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0
}
 @keyframes stretchLeft {
 0% {
 transform: scaleX(0)
}
 40% {
 transform: scaleX(1.02)
}
 60% {
 transform: scaleX(.98)
}
 80% {
 transform: scaleX(1.01)
}
 100% {
 transform: scaleX(1) translateZ(0)
}
}
 @-webkit-keyframes stretchLeft {
 0% {
 -webkit-transform: scaleX(0)
}
 40% {
 -webkit-transform: scaleX(1.02)
}
 60% {
 -webkit-transform: scaleX(.98)
}
 80% {
 -webkit-transform: scaleX(1.01)
}
 100% {
 -webkit-transform: scaleX(1) translateZ(0)
}
}
.stretchRight {
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0
}
 @keyframes stretchRight {
 0% {
 transform: scale3d(0, 1, 1)
}
 40% {
 transform: scaleX(1.02)
}
 60% {
 transform: scaleX(.98)
}
 80% {
 transform: scaleX(1.01)
}
 100% {
 transform: scaleX(1) translateZ(0)
}
}
 @-webkit-keyframes stretchRight {
 0% {
 -webkit-transform: scaleX(0)
}
 40% {
 -webkit-transform: scaleX(1.02)
}
 60% {
 -webkit-transform: scaleX(.98)
}
 80% {
 -webkit-transform: scaleX(1.01)
}
 100% {
 -webkit-transform: scaleX(1) translateZ(0)
}
}
.moveDown {
	animation-name: moveDown;
	-webkit-animation-name: moveDown;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease
}
.moveLeft, .moveUp {
	animation-duration: 1s
}
.moveOutDown, .moveUp {
	animation-timing-function: ease
}
 @keyframes moveDown {
 0% {
 transform: translate3d(0, -100%, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes moveDown {
 0% {
 -webkit-transform: translate3d(0, -100%, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.moveUp {
	animation-name: moveUp;
	-webkit-animation-name: moveUp;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	visibility: visible!important
}
 @keyframes moveUp {
 0% {
 transform: translate3d(0, 100%, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes moveUp {
 0% {
 -webkit-transform: translate3d(0, 100%, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.moveLeft {
	animation-name: moveLeft;
	-webkit-animation-name: moveLeft;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible!important
}
.moveOutDown, .moveRight {
	animation-duration: 1s;
	visibility: visible!important
}
 @keyframes moveLeft {
 0% {
 transform: translate3d(150%, 0, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes moveLeft {
 0% {
 -webkit-transform: translate3d(150%, 0, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.moveRight {
	animation-name: moveRight;
	-webkit-animation-name: moveRight;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out
}
 @keyframes moveRight {
 0% {
 transform: translate3d(-150%, 0, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, 0, 0)
}
}
 @-webkit-keyframes moveRight {
 0% {
 -webkit-transform: translate3d(-150%, 0, 0);
 opacity: 0
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, 0, 0)
}
}
.moveOutDown {
	animation-name: moveOutDown;
	-webkit-animation-name: moveOutDown;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease
}
 @keyframes moveOutDown {
 0% {
 transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, 100%, 0);
 opacity: 0
}
}
 @-webkit-keyframes moveOutDown {
 0% {
 -webkit-transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, 100%, 0);
 opacity: 0
}
}
.moveOutUp {
	animation-name: moveOutUp;
	-webkit-animation-name: moveOutUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible!important
}
.moveOutLeft, .moveOutRight {
	animation-timing-function: ease-in-out;
	visibility: visible!important
}
 @keyframes moveOutUp {
 0% {
 transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(0, -100%, 0);
 opacity: 0
}
}
 @-webkit-keyframes moveOutUp {
 0% {
 -webkit-transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(0, -100%, 0);
 opacity: 0
}
}
.moveOutLeft {
	animation-name: moveOutLeft;
	-webkit-animation-name: moveOutLeft;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out
}
 @keyframes moveOutLeft {
 0% {
 transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(-150%, 0, 0);
 opacity: 0
}
}
 @-webkit-keyframes moveOutLeft {
 0% {
 -webkit-transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(-150%, 0, 0);
 opacity: 0
}
}
.moveOutRight {
	animation-name: moveOutRight;
	-webkit-animation-name: moveOutRight;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out
}
 @keyframes moveOutRight {
 0% {
 transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 transform: translate3d(150%, 0, 0);
 opacity: 0
}
}
 @-webkit-keyframes moveOutRight {
 0% {
 -webkit-transform: translate3d(0, 0, 0)
}
 50% {
 opacity: 1
}
 100% {
 -webkit-transform: translate3d(150%, 0, 0);
 opacity: 0
}
}
.fadeInNormal {
	animation-name: fadeInNormal;
	-webkit-animation-name: fadeInNormal;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible!important
}
 @keyframes fadeInNormal {
 0% {
 opacity: 0
}
 100% {
 opacity: 1;
 transform: translateZ(0)
}
}
 @-webkit-keyframes fadeInNormal {
 0% {
 opacity: 0
}
 100% {
 opacity: 1;
 -webkit-transform: translateZ(0)
}
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}
 @-webkit-keyframes rubberBand {
 0% {
 -webkit-transform: scale3d(1, 1, 1)
}
 30% {
 -webkit-transform: scale3d(1.25, .75, 1)
}
 40% {
 -webkit-transform: scale3d(.75, 1.25, 1)
}
 50% {
 -webkit-transform: scale3d(1.15, .85, 1)
}
 65% {
 -webkit-transform: scale3d(.95, 1.05, 1)
}
 75% {
 -webkit-transform: scale3d(1.05, .95, 1)
}
 100% {
 -webkit-transform: scale3d(1, 1, 1) translateZ(0)
}
}
 @keyframes rubberBand {
 0% {
 transform: scale3d(1, 1, 1)
}
 30% {
 transform: scale3d(1.25, .75, 1)
}
 40% {
 transform: scale3d(.75, 1.25, 1)
}
 50% {
 transform: scale3d(1.15, .85, 1)
}
 65% {
 transform: scale3d(.95, 1.05, 1)
}
 75% {
 transform: scale3d(1.05, .95, 1)
}
 100% {
 transform: scale3d(1, 1, 1) translateZ(0)
}
}
.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble
}
 @-webkit-keyframes wobble {
 0% {
 -webkit-transform: none
}
 15% {
 -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
}
 30% {
 -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
}
 45% {
 -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
}
 60% {
 -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
}
 75% {
 -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
}
 100% {
 -webkit-transform: translateZ(0);
 transform: translateZ(0)
}
}
 @keyframes wobble {
 0% {
 transform: none
}
 15% {
 transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
}
 30% {
 transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
}
 45% {
 transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
}
 60% {
 transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
}
 75% {
 transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
}
 100% {
 transform: translateZ(0)
}
}
.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}
 @-webkit-keyframes flip {
 0% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
 -webkit-animation-timing-function: ease-out;
 animation-timing-function: ease-out
}
 40% {
 -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
 -webkit-animation-timing-function: ease-out;
 animation-timing-function: ease-out
}
 50% {
 -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
 80% {
 -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
 transform: perspective(400px) scale3d(.95, .95, .95);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
}
 @keyframes flip {
 0% {
 -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
 transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
 -webkit-animation-timing-function: ease-out;
 animation-timing-function: ease-out
}
 40% {
 -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
 -webkit-animation-timing-function: ease-out;
 animation-timing-function: ease-out
}
 50% {
 -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
 80% {
 -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
 transform: perspective(400px) scale3d(.95, .95, .95);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
 100% {
 -webkit-transform: perspective(400px);
 transform: perspective(400px);
 -webkit-animation-timing-function: ease-in;
 animation-timing-function: ease-in
}
}
 @-webkit-keyframes drop {
 0% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -60px, 0);
 transform: translate3d(0, -60px, 0)
}
 100%,  20%,  53%,  80% {
 -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 40%,  43% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -30px, 0);
 transform: translate3d(0, -30px, 0)
}
 70% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -15px, 0);
 transform: translate3d(0, -15px, 0)
}
 90% {
 -webkit-transform: translate3d(0, -4px, 0);
 transform: translate3d(0, -4px, 0)
}
}
@keyframes drop {
 0% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -60px, 0);
 transform: translate3d(0, -60px, 0)
}
 100%,  20%,  53%,  80% {
 -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 animation-timing-function: cubic-bezier(.215, .61, .355, 1);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 40%,  43% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -30px, 0);
 transform: translate3d(0, -30px, 0)
}
 70% {
 -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 animation-timing-function: cubic-bezier(.755, .050, .855, .060);
 -webkit-transform: translate3d(0, -15px, 0);
 transform: translate3d(0, -15px, 0)
}
 90% {
 -webkit-transform: translate3d(0, -4px, 0);
 transform: translate3d(0, -4px, 0)
}
}
.drop {
	-webkit-animation-name: drop;
	animation-name: drop;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
 @-webkit-keyframes spread {
 0% {
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1)
}
 100% {
 -webkit-transform: scale(1.2, 1.2);
 transform: scale(1.2, 1.2)
}
}
 @keyframes spread {
 0% {
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1)
}
 100% {
 -webkit-transform: scale(1.2, 1.2);
 transform: scale(1.2, 1.2)
}
}
.spread {
	-webkit-animation-name: spread;
	animation-name: spread;
}
.running_right {
	-webkit-animation-name: running_right;
	animation-name: running_right;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
 @keyframes running_right {
 0% {
 transform: translate(360px, 0) rotate(0deg);
}
 50% {
 transform: translate(0, 0) rotate(20deg);
}
 60% {
 transform: translate(0, 0) rotate(-15deg);
}
 80% {
 transform: translate(0, 0) rotate(10deg);
}
 100% {
 transform: translate(0, 0) rotate(0deg);
}
}
@-webkit-keyframes running_right {
 0% {
 transform: translate(360px, 0) rotate(0deg);
}
 50% {
 transform: translate(0, 0) rotate(20deg);
}
 60% {
 transform: translate(0, 0) rotate(-15deg);
}
 80% {
 transform: translate(0, 0) rotate(10deg);
}
 100% {
 transform: translate(0, 0) rotate(0deg);
}
}
.running_left {
	-webkit-animation-name: running_left;
	animation-name: running_left;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
 @keyframes running_left {
 0% {
 transform: translate(-360px, 0) rotate(0deg);
}
 50% {
 transform: translate(0, 0) rotate(-20deg);
}
 60% {
 transform: translate(0, 0) rotate(15deg);
}
 80% {
 transform: translate(0, 0) rotate(-10deg);
}
 100% {
 transform: translate(0, 0) rotate(0deg);
}
}
@-webkit-keyframes running_left {
 0% {
 transform: translate(-360px, 0) rotate(0deg);
}
 50% {
 transform: translate(0, 0) rotate(-20deg);
}
 60% {
 transform: translate(0, 0) rotate(15deg);
}
 80% {
 transform: translate(0, 0) rotate(-10deg);
}
 100% {
 transform: translate(0, 0) rotate(0deg);
}
}
@-webkit-keyframes spin {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg)
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg)
}
}
 @keyframes spin {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg)
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg)
}
}
.spin {
	-webkit-animation-name: spin;
	animation-name: spin;
}
.add_w {
	animation-name: add_w;
	-webkit-animation-name: add_w;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	overflow: hidden;
}
 @keyframes add_w {
 0% {
 width: 0;
}
 100% {
 width: 100%;
}
}
 @-webkit-keyframes add_w {
 0% {
 width: 0;
}
 100% {
 width: 100%;
}
}
.add_h {
	animation-name: add_h;
	-webkit-animation-name: add_h;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	overflow: hidden;
}
 @keyframes add_h {
 0% {
 height: 0;
}
 100% {
 height: 100%;
}
}
 @-webkit-keyframes add_h {
 0% {
 height: 0;
}
 100% {
 height: 100%;
}
}
